.h2Header {
    margin-top: 3rem !important;
    font-size: 35px !important;
}

.h3Description {
    font-size: 12px !important;
}

@media (max-width: 768px) {

    .imageList{
        width: 350px !important;
    height: 300px !important;
    }

}